<h1 style="text-align:center;">RxJS Operators</h1>

<br />
<h2 style="text-align: center">forkJoin and combineLatest</h2>

<hr />
<br />
<br />
<div style="display: flex; gap: 20px; justify-content: center; margin-left: 155px">
  <div>
<table>
  <caption>CombineLatest RxJS Operator</caption>
  <thead>
    <tr>
      <th>Timer 1</th>
      <th>Timer 2</th>
      <th>Timer 3</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let val of combinedValues">
      <td>{{ val[0] }}</td>
      <td>{{ val[1] }}</td>
      <td>{{ val[2] }}</td>
    </tr>
  </tbody>
</table>
  </div>

  <div>
<table>
  <caption>CombineLatest RxJS Operator</caption>
  <thead>
    <tr>
      <th>Timer 1</th>
      <th>Timer 2</th>
      <th>Timer 3</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="combinedLatestSingleValues.length > 0">
      <td>{{ combinedLatestSingleValues[0] }}</td>
      <td>{{ combinedLatestSingleValues[1] }}</td>
      <td>{{ combinedLatestSingleValues[2] }}</td>
    </tr>
  </tbody>
</table>
  </div>
  <div>
<table>
  <caption>forkJoin RxJS Operator</caption>
  <thead>
    <tr>
      <th>Timer 1</th>
      <th>Timer 2</th>
      <th>Timer 3</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let val of forkJoinValues">
      <td>{{ val[0] }}</td>
      <td>{{ val[1] }}</td>
      <td>{{ val[2] }}</td>
    </tr>
  </tbody>
</table>
  </div>
</div>
<br />

<hr />

<div style="height: 500px"></div>

forkJoin example
<pre>
  {{ viewValues | json }}
</pre>

<br /><br />
<hr />

<h4>There is two types of operators</h4>
<h5>creation operator</h5>
<h5>pipeable operator</h5>

<ul>
  <li>of</li>
  <li>from</li>
  <li>pipe</li>
  <li>map</li>
</ul>
